/* initiallizing and body styling */
$pcolor:#2b2881;
$scolor:#ffffffe6;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    background-color: whitesmoke;
}
         
.btn-grad {
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7  51%, #7474BF  100%);

   
   
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    border: none;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .bt {
    background: url('./assets/BrowseTours.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: flex-start;
    justify-content: center;
    h2{
      color: white;
      font-weight: bold;
      letter-spacing: 0.5rem;
     }
}
.nav-item {
  color: $pcolor; 
  font-weight: bold;
  transition: all 0.3s ease; 
}
.nav-item:hover {
  
  border-bottom: 5px solid $pcolor;
}
.overlay-content{
  
  h2{
    font-weight: bold;
    font-size: 58px;
    letter-spacing: 0.2em;
  }
  p{
    font-weight: bold;
    letter-spacing: 0.2em;
    font-family: "Playfair Display", serif;
    font-size: 32px;
    
  }
}
#why{
  height: 500px;
  h2 {
    text-align: center;
    color: $pcolor;

  }
}
#steps > div{
  background-color: #348AC7;
  padding: 30px;
}
#steps > span{

  display: inline-block;
}
#steps > div > h2 {
  font-weight: bold;
  font-size: 46px;
  letter-spacing: 0.5rem;
  color: white;
}

#steps > div > p {
  font-size: 22px;
  color: #fffdfdbb;
}
/* Sites.css */

/* Style for the image container */
.image-container {
  position: relative;
  overflow: hidden;
}

/* Style for the image itself */
.site-image {
  width: 100%;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

/* Style for the info button */
.info-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to right, #7474BF 0%, #348AC7  51%, #7474BF  100%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
  font-weight: bold;
}

/* Show the info button on hover */
.image-container:hover .site-image {
  transform: scale(1.1); /* Zoom in effect */
}

.image-container:hover .info-button {
  opacity: 1;
}
#autop{
  background: url('./assets/about.jpg') center fixed no-repeat;
  background-size: cover;
}
#boxes{
  text-align: center;
     background-color: #f8f9fa;
      padding: 40px;
     border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
      color: white;
      span{
        font-weight: bold;
        font-size: 30px;
        color: $pcolor;
      }
}
.sidebar{
  position: absolute;
  left: 0;
  top: 0;
  width: 250px; 
  background-color: #f0f0f0;

}
#id{
  overflow-y: auto;
}
